* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {

}

.container {
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  width: 70%;
  padding: 50px;
  margin: 40px auto;
}

input {
  padding: 10px;
  margin: 0 10px 0 20px;

}